*{
    margin: 0;
    padding: 0;
    font-family: "proximanova_extrabold", Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: 'proximanova_bold';
    src: url('../fonts/proximanova_bold_macroman/proximanova-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova_extrabold';
    src: url('../fonts/proximanova_extrabold_macroman/proximanova-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova_medium';
    src: url('../fonts/proximanova_medium_macroman/proximanova-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova_regular';
    src: url('../fonts/proximanova_regular_macroman/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main{
    width: 100vw;
    height: 100vh;
    display: block;
}
.top_hero{
    width:100%;
    height: 416px;
    overflow: hidden;
}
.top_hero img{
    width: 100%;
    height:auto;
}
.bottom_section{
    display: flex;
    justify-content: space-between;
    height: 296px;
    max-width: 1200px;
    margin: 0 auto;
}
.bottom_section .left{
    padding: 21px 32px 0 64px;
    width: 65%;
}
.text{
    max-width: 566px
}
.text .logo_dish img{
    width:76px;
    margin-bottom: 16px;
}
.text .category{
    color: #E41932;
    font-size:18px ;
    line-height: 24px;
}
.text h1{
    color: #171725;
    font-family: 'proximanova_extrabold';
    font-size: 36px;
    letter-spacing: -0.6px;
    line-height: 40px;
    padding: 16px 0;
}
.text p{
    color: #171725;
    font-size: 18px;
    font-family: 'proximanova_regular';
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 20px;
}
.bottom_section .nav{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.nav .button{
    height: 44px;
    border-radius: 7px;
    background-color: #171725;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 44px;
    padding: 0 32px;
}
.nav .indicator{
display:flex;
justify-content: space-between;
}
.nav .indicator .grey_red{
    width: 64px;
    display: flex;
    justify-content: space-between;
    margin-right: 8px;
}
.nav .indicator .grey_red div{
    width: 16px;
    background-color: #C4C4CA;
}
.nav .indicator .grey_red div.two{
    width: 28px;
}
.nav .indicator .grey_red div.red{
    background-color: #E41932;
}
.nav .indicator .grey_long{
    width: 64px;
    height: 2px;
    margin-right: 8px;
    background-color: #C4C4CA;
}
.nav .indicator .grey_long_red{
    width: 64px;
    height: 2px;
    margin-right: 8px;
    background-color: #E41932;
}
.arrows>a img{
    padding-right: 16px;
    height: 40px;
    width:40px;
}
.right{
    display: block;
    max-width: 488px;
    border-left: 3px solid #F5F5F6;
}
.right .product{
    display: flex;
    justify-content: space-between;
    padding: 14px 24px;
    align-items: center;
}
.prod_img img{
    max-width: 122px;
    padding-right: 16px;
}
.product .description{
    display: block;
    width: 250px;
}
.product .description div.prod_name, .product .description .button{
    color: #171725;
    font-family: 'proximanova_extrabold';
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}
.product .description div.prod_name{
    padding: 16px 0 8px 0;
}
.product .description .button, .other_right_section a.button{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}
.language_toggle{
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    float:right;

}

.language_toggle img{
    padding-left: 8px;
}

.product .description .button img{
    padding-left: 8px;
}
.right .other_right_section{
    max-width:488px ;
    margin: 32px 16px;
}
.other_right_section img{
    /* width:236px; */
    height:52px;
}
.other_right_section h3{
    font-size: 18px;
    line-height: 24px;
    padding: 16px 0;
}
.other_right_section p{
    font-size: 16px;
    line-height: 20px;
    font-family: 'proximanova_regular';
    padding-bottom: 16px;
}
.other_right_section a.button{
    text-decoration: none;
    color: #171725;
}
.other_right_section a.button img{
    width: 8px;
    padding-left: 8px;
}
.other_right_section ul{
    padding-left: 16px;
}
.other_right_section ul li p{
    padding-bottom: 8px;
}
